[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "==3.2"
django-extensions = "*"
jupyter = "*"
ipython = "*"
ipykernel = "*"
pytest = "*"
pytest-django = "*"
autopep8 = "*"

[packages]
pytz = "==2019.3"
django = "*"
python-decouple = "*"

[requires]
python_version = "3.8"

[scripts]
dev = "python manage.py runserver"
serve = "python manage.py runserver --settings={{ project_name }}.settings.production"
check = "python manage.py check --deploy --settings={{ project_name }}.settings.production"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
migrate_prod = "python manage.py migrate --settings={{ project_name }}.settings.production"
notebook = "python manage.py shell_plus --settings={{ project_name }}.settings.development --notebook --no-browser"
test = "py.test tests"
